.App {
  text-align: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 100px;
}

.icon {
  background-color: #257693b3;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  padding: 10px;
}

h1,
h4 {
  color: #257593;
  text-shadow: 1px black;
  letter-spacing: 2px;
  font-weight: lighter;
  text-align: center;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 100px;
  height: 100px;
}

.img_header {
  margin-top: 50px;
  width: 100%;
}
