.App {
  text-align: center;
  border: 1px solid black;
  margin: 50px;
  padding: 50px;
}

.App:hover {
  box-shadow: 1px 1px 1px 1px black;
  background-color: rgba(0, 255, 255, 0.082);
}

.App h1 {
  letter-spacing: 5px;
  margin: 50px;
}

.App .mb-sm {
  margin-bottom: 1em;
}

.text-sm {
  font-size: 12px;
}

.text-md {
  font-size: 14px;
}

.text-lg {
  font-size: 16px;
}

.text-xl {
  font-size: 18px;
}

/* .btn {
  background-color: rgba(0, 255, 255, 0.515);
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: aqua;
  box-shadow: 1px 1px 1px black;
  letter-spacing: 1px;
} */

.Button--variant-primary {
  background: rebeccapurple;
  color: #fff;
}

.Button--variant-primary:hover {
  cursor: pointer;
}

.Button--variant-secondary:hover,
.Button--variant-special:hover {
  background-color: rgba(0, 0, 255, 0.277);
  cursor: pointer;
}
