.Message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 6px 18px;
}

.Message img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgb(251, 189, 189);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}

.Message__textContent {
  font-size: 0.7rem;
  background-color: rgba(119, 136, 153, 0.015);
  padding: 5px;
  text-align: justify;
}

.Message__textContent p:nth-child(1) {
  color: lightslategray;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 0;
}

.Message__textContent h5 {
  margin: 6px 0;
  color: rgb(251, 189, 189);
}
