.Button {
  position: fixed;
  font-size: 14pt;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 100%;
  background-color: rgba(245, 245, 245, 0.674);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.325);
  cursor: pointer;
}

.Button:hover {
  background-color: whitesmoke;
}
