.Pages {
  display: flex;
  flex-direction: column;

  .users {
    margin: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  h2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    letter-spacing: 2px;
  }

  h4 {
    border: 1px solid whitesmoke;
    background-color: white;
    color: black;
    height: 100px;
    width: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
}
