.todo {
  p {
    font-size: 15pt;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(245, 245, 245, 0.805);
    padding: 30px;
    box-shadow: 1px 2px 2px 1px rgb(133, 54, 69);
  }

  p:hover {
    cursor: pointer;
    background-color: rgb(133, 54, 69);
  }
}

.statusDone {
  text-decoration: line-through;
  font-style: italic;
}
